ABOUT-NLS
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.rpath
config.status
config.sub
configure
install-sh
ln-sr
missing
py-compile

*.pyc
*.pyo
*.spec
*.swp
*.tmp
*~
__pycache__
tmp.*

.bundeled
build/otopi-bundle
build/otopi-bundle.in
intl
src/otopi/config.py
src/otopi/config.py.in
target
