# .coveragerc to control coverage.py
[run]
branch = True

omit =
    /usr/lib/python2.7/site-packages/dateutil/*
    /usr/lib/python3.6/site-packages/dateutil/*
    /usr/lib/python3.7/site-packages/dateutil/*
    /usr/lib/python3.7/site-packages/distro.py
    /usr/lib/python3.6/site-packages/dnf-plugins/*
    /usr/lib/python3.7/site-packages/dnf-plugins/*
    /usr/lib/python3.6/site-packages/dnfpluginscore/*
    /usr/lib/python3.7/site-packages/dnfpluginscore/*
    /usr/lib/python2.7/site-packages/iniparse/*
    /usr/lib/python3.6/site-packages/iniparse/*
    /usr/lib/python3.7/site-packages/iniparse/*
    /usr/lib/python2.7/site-packages/rpmUtils/*
    /usr/lib/python2.7/site-packages/six.py
    /usr/lib/python3.6/site-packages/six.py
    /usr/lib/python3.7/site-packages/six.py
    /usr/lib/python2.7/site-packages/urlgrabber/*
    /usr/lib/python2.7/site-packages/yum/*
    /usr/lib/python3.6/site-packages/dnf/*
    /usr/lib/python3.7/site-packages/dnf/*

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:

ignore_errors = True

omit =
    /usr/lib/python2.7/site-packages/dateutil/*
    /usr/lib/python3.6/site-packages/dateutil/*
    /usr/lib/python3.7/site-packages/dateutil/*
    /usr/lib/python3.7/site-packages/distro.py
    /usr/lib/python3.6/site-packages/dnf-plugins/*
    /usr/lib/python3.7/site-packages/dnf-plugins/*
    /usr/lib/python3.6/site-packages/dnfpluginscore/*
    /usr/lib/python3.7/site-packages/dnfpluginscore/*
    /usr/lib/python2.7/site-packages/iniparse/*
    /usr/lib/python3.6/site-packages/iniparse/*
    /usr/lib/python3.7/site-packages/iniparse/*
    /usr/lib/python2.7/site-packages/rpmUtils/*
    /usr/lib/python2.7/site-packages/six.py
    /usr/lib/python3.6/site-packages/six.py
    /usr/lib/python3.7/site-packages/six.py
    /usr/lib/python2.7/site-packages/urlgrabber/*
    /usr/lib/python2.7/site-packages/yum/*
    /usr/lib/python3.6/site-packages/dnf/*
    /usr/lib/python3.7/site-packages/dnf/*
